.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imb {
  position: absolute;
  top: -120px;
}
@media only screen and (max-width: 770px) {
  .imb {
    display: none !important;
  }
}
.main-tag-line {
  top: 20px;
}

.bg-gradient-default-1{
  background:linear-gradient(150deg, #172b4d 15%, #424d62 70%, #5e6e8b 99%) !important
}
.hidden {
  display: none;
}
div#mentainance,
div#application_c,
div#web_application_c {
  margin: 1rem;
  margin-top: auto;
}
.note {
  display: block !important;
  color: #bbbbbb !important;
}
a.disabled-w-icon.nav-link:after {
  content: '\1f512';
  font-family: FontAwesome;
 font-weight: normal;
 font-style: normal; 
 text-decoration:none;
 color: yellow !important
}
a.disabled-w-icon.nav-link {
  color: #aaa !important;
}